.product__specification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 40px);
  max-width: calc(700px - 40px);
  padding: 0 0 0 40px;
  

  &-title {
    color: #000;
    padding: 0 10px 14px 5px;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.03em;
  }

  &-subtitle {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.02em;
    padding: 20px 10px 20px 0px;
  }
}

@media screen and (max-width: 1220px) {
  .product__specification {
    max-width: calc(560px - 40px);
  }
}

@media screen and (max-width: 1070px) {
  .product__specification {
    max-width: calc(500px - 40px);

    &-title {
      font-size: 30px;
    }
    &-subtitle {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .product__specification {
    max-width: 100%;
    width: 100%;
    padding: 50px 0 0 0;
    &-title {
      font-size: 30px;
    }
    &-subtitle {
      padding: 10px 0;
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 800px) {
  .product__specification {
    max-width: 100%;
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }
}