.promo {
  width: calc(100% - 260px);
  padding: 0 130px;
  min-height: calc(100vh - 108px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 115%;
    letter-spacing: 0.02em;
    width: 60%;
    padding: 0 0 30px 0;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.02em;
  }
}

#tsparticles canvas {
  position: absolute !important;
}