.sidebar-arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 15px;
  position: relative;

  &::before {
    top: 7px;
    position: absolute;
    left: 2px;
    width: 26px;
    height: 3px;
    content: "";
    transition: transform .3s;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background: rgb(0, 0, 0);
    transform: translateY(1px) rotate(-45deg) scaleX(.6);
  }

  &::after {
    bottom: 7px;
    position: absolute;
    left: 2px;
    width: 26px;
    height: 3px;
    content: "";
    transition: transform .3s;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background: rgb(0, 0, 0);
    transform: translateY(-2px) rotate(45deg) scaleX(.6);
  }

  &_type_open {
    &::after {
      bottom: 7px;
      transform: none;
    }

    &::before {
      top: 8px;
      transform: none;
    }
  }
}