.form_type_contact {}


.form__label_type_contact {
  color: #fff;
}

.form__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  padding-bottom: 30px;
}

.form__input_theme_white {
  color: #fff;
}

.form__textarea {
  display: inline-flex;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  background-color: transparent;
  color: #fff;
  min-height: 167px;
  max-height: 200px;
  width: 100%;
  transition: all 0.4s linear;
  margin: 5px 0 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  resize: vertical;

  &_theme_error {
    color: #EE3465;
    border-bottom: 1px solid #EE3465;
  }
}

.form__textarea:focus {
  outline: none;
  border-bottom: 1px solid #3456F3;
}

.form__button_type_contact {
  color: #fff;
  background-color: transparent;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
}