.header { 
  display: flex;
  align-items: center;
  height: 70px;
  width: calc(100% - 140px);
  max-width: calc(1440px - 140px);
  position: relative;
  padding: 12px 70px;
  justify-content: space-between;

  &_type_reverse {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  
  &__logo {
    width: 230px;
    object-fit: contain;
  }
}
