.header { 
  display: flex;
  align-items: center;
  height: 60px;
  width: calc(100% - 50px);
  max-width: calc(1440px - 50px);
  position: relative;
  padding: 12px 25px;
  justify-content: space-between;

  &_type_reverse {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}
