.profile-user {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  padding: 50px 40px;
  height: calc(100vh - 100px);
  border-radius: 25px 0 0 25px;
  background-color: #252836;
  overflow-y: scroll;


  &__title {
    color: #eaeaeb;
    font-size: 22px;
    line-height: 115%;
    letter-spacing: 0.03em;
    font-weight: 600;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #2d303e;
  }

}