.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(670px - 200px);
  padding: 30px 100px;
}

.form__label {
  font-size: 10px;
  line-height: 12px;
  color: #000;

  &_type_terms {
    width: 100%;
    display: flex;
    padding-left: 3px;
  }
}

.form-terms__link {
  padding-left: 3px;
}

.form__input {
  display: inline-flex;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  margin: 5px 0 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-rendering: optimizeLegibility;
  background-color: transparent;
}

.form__check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.form__terms {
  color: #3456F3;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid #3456F3;
}

.form__input_theme_bold:focus {
  font-weight: 500;
}


.form__input_theme_error, .form__input_theme_error:focus {
  color: #EE3465;
  border-bottom: 1px solid #EE3465;
}

.form__error {
  display: flex;
  align-items: center;
  visibility: hidden;
  min-height: 24px;
  margin-bottom: 6px;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;

  &-avatar {
    text-align: center;
  }
}

.form__error_type_visible {
  visibility: visible;
}

.form__error_type_search {
  position: absolute;
  justify-content: center;
  bottom: 0;
  min-height: min-content;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.form__button {
  cursor: pointer;
  color: #000;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 16px;
  margin-top: 34px;
  transition: opacity 0.4s, background-color 0.4s linear;
}
.form__button_type_login {
  margin-top: 134px;
}

.form__button_type_active {
  color: #fff;
  background-color: #3456F3;
}

.form__button_type_disabled {
  background-color: #636363;
}

.form__button:hover {
  opacity: 0.6;
}

.form__button_type_signin {
  margin-top: 203px;
}

.form__link {
  text-decoration: none;
  color: #A0A0A0;
  transition: opacity 0.4s linear;
}

.form__link:hover {
  opacity: 0.6;
}

.form__subtitle {
  margin: 0;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.form__span {
  margin-left: 6px;
  color: #3456F3;
}

@media screen and (max-width: 650px) {
  .form {
    max-width: calc(670px - 100px);
    padding: 30px 50px;
  }
}

@media screen and (max-width: 480px) {
  .form__button {
    font-size: 12px;
    line-height: 15px;
  }
  .form__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
  .form__check {
    align-items: flex-start;
  }
  .form__label_type_terms {
    flex-direction: column;
    margin-left: 6px;
  }
}

@media screen and (max-width: 450px) {
  .form__error_type_search {
    justify-content: flex-start;
  }
  .form {
    max-width: calc(670px - 46px);
    padding: 30px 23px;
  }
}
